@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<section>
    <form id="account" method="post">
        <div class="homePanel" style="margin-top: -4.5%; margin-left: 0%">
            <div class="Loginbox">

                <div class="container_Home">
                    <div class="lockIcon row">

                        <div class="col-md-12" style="margin-top: 5%; margin-bottom: 1%">
                            <div class="col-md-5"></div>

                            <div class="col-md-5"></div>

                        </div>
                        <div class="col-md-12">
                            <div class="loginScreen_prompt">
                                <p>Please enter your username and password</p>
                            </div>
                        </div>
                        <div class="col-md-12">

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div style="margin-top: 5%"></div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Log in</button>
                            </div>
                            <div>
                                @Html.ActionLink("Forgotten password", "ForgotPassword", "Account", new { @style = "font-size: 10px!important" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        @*<div asp-validation-summary="All" class="text-danger"></div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                </div>
            </div>


            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>*@

        @*<div class="form-group">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
            </div>*@


    </form>


</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
